{% load i18n static wagtailimages_tags wagtailcore_tags %}

<footer class="site-footer wow fadeInUp">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3 class="widget-title">{% trans 'About us' %}</h3>
                        <p>{{ settings.about_us_text }}</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3 class="widget-title">{% trans 'Helpful Links' %}</h3>
                        <ul class="list-arrow">
                            {% for block in settings.footer_links%}
                            <li><a href="{% if block.value.internal_page %} {% pageurl block.value.internal_page %}
                                {% elif block.value.external_url  %}{{ block.value.external_url }}{% endif %}">
                                {{  block.value.link_title}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>


                <div class="col-md-3 col-sm-6">
                    <div class="widget widget-customer-info">
                        <h3 class="widget-title">{% trans 'Customer Service' %}</h3>
{#                        <img src="dummy/footer-customer-service.jpg" alt="" class="pull-left">#}
                        <div class="cs-info">
                            {% for block in settings.customer_service %}
                                <a href="javascript:void(0)"><i class="fa fa-map-marker"></i> {{ block.value.address }}</a> <br>
                                <a href="{{ block.value.phone }}"><i class="fa fa-phone"></i> {{ block.value.phone }}</a><br>
                                <a href="mailto:{{ block.value.email }}"><i class="fa fa-envelope"></i> {{ block.value.email }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="colophon" style="text-align: center">
        <div class="container">
            <p class="copy">{% now "Y" %} {{ settings.copyright_text }}</p>
        </div>
    </div>
</footer> <!-- .site-footer -->