{% extends 'base.html' %}
{% load i18n static wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}

{% block content %}
    <main class="content">
        <div class="fullwidth-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 wow fadeInLeft">
                        <h4>{{ settings.organization_name }}</h4>
                        <ul class="list-fa">
                            {% for block in settings.customer_service %}
                                <li><i class="fa fa-map-marker"></i> {{ block.value.address }}</li>
                                <li><i class="fa fa-phone"></i> {{ block.value.phone }}</li>
                                <li><i class="fa fa-envelope"></i>{{ block.value.email }}</li>
                            {% endfor %}
                        </ul>
                        <form action="" method="post" class="contact-form">
                            {% csrf_token %}
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                    {% for error in form.non_field_errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% for field in form.visible_fields %}
                                <div class="form-group">
                                    <label class="control-label">{{ field.label }}</label>
                                    <div> {% render_field field class+="form-control" %}</div>
                                </div>
                            {% endfor %}
                            <button type="submit" class="button">{% trans 'Send Message' %}</button>
                        </form>
                    </div>
                    <div class="col-md-7 col-md-push-1 wow fadeInRight">
                        <div class="map">
                            <iframe src="https://maps.google.com/?q={{ self.map_address }}&output=embed"
                                    height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main> <!-- .content -->
{% endblock %}