{% extends 'base.html' %}
{% load i18n static wagtailcore_tags wagtailimages_tags %}


{% block content %}

<main class="content">
    <div class="fullwidth-block">
        <div class="container">
            <div class="filter-links filterable-nav">
{#                <select class="mobile-filter">#}
{#                    <option value="*">Show all</option>#}
{#                    <option value=".south-america">South America</option>#}
{#                    <option value=".asia">Asia</option>#}
{#                    <option value=".africa">Africa</option>#}
{#                    <option value=".north-america">North America</option>#}
{#                    <option value=".europe">Europe</option>#}
{#                    <option value=".australia">Australia</option>#}
{#                </select>#}

                <a href="#" class=" wow fadeInRight current" data-filter="*">{% trans 'Show all' %}</a>
                {% for city in object_list %}
                <a href="#" class="wow fadeInRight" data-wow-delay=".2s" data-filter=".{{ city.name }}">{{ city.name }}</a>
                {% endfor %}
            </div>
{#            TODO:CHECK WOW LIBRARY#}
            <div class="filterable-items">
                {% for city in object_list %}
                <div class="filterable-item {{ city.name }}">
                {% for site in city.city_sites.all %}
                    {% image site.image width-300 as img %}
                    <article class="offer-item">
                        <figure class="featured-image">
                            <img src="{{ img.url }}" alt="">
                        </figure>
                        <h2 class="entry-title"><a href="#">{{ site.title }}</a></h2>
                        <p>{{ site.intro_text }}</p>
                        <a href="{% url 'tourist_sites:site-details' site.pk %}" class="button">{% trans 'See details' %}</a>
{#                        <div class="price">#}
{#                            <strong>$2900</strong>#}
{#                            <small>/10 days</small>#}
{#                        </div>#}
                    </article>
                {% endfor %}
                </div>
                {% endfor%}

            </div>

            <div class="pagination wow fadeInUp">
                <span class="page-numbers current">1</span>
                <a href="#" class="page-numbers">2</a>
                <a href="#" class="page-numbers">3</a>
                <a href="#" class="page-numbers">4</a>
            </div>

        </div>

    </div>


</main> <!-- .content -->
{% endblock %}
